html{
    min-height: 100%;
}

.bgcolorLOL{
    width: 100%;
    height: 170%;
    z-index: -1;
    position: absolute;
    background-color: #3c5aa6 ;
}

#specialcase{
    color: black;
}

#acc1{
    width: 70%;
    left: 50%;
    margin-left: 20%;
    margin-bottom: 20%;
}

#cardsu{
    width: 70%;
    margin-left: 20%;
    margin-bottom: 20%;
}

.landheader{
    margin-top: 10vh;
    margin-left: 20%;
    color: #ffcb05;
}

.landheader2{
    margin-top: -10%;
    margin-left: 20%;
    color: #ffcb05;
}

.headerimage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(".././images/header2.jpg");
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.459);
}

.headertext{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-40%, +100%);
    color: white;
}