html{
    min-height: 100%;
    background-color: rgb(242, 254, 255);
}

body{
    background-color: rgb(242, 254, 255);
}

#logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
}

.menubox{
    width: 30px;
    height: 30px;
    margin-top: 10%;
    left: 50%;
    transform: translate(+80%, +0%);
    background-image: url(".././images/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menubox:hover{
    background-image: url(".././images/menu2.png");
}

.logo{
    margin-top: 1vh;
    margin-bottom: 20%;
    text-align: right;
}

#Navcont{
    z-index: 9;
    padding-top: 1.5%;
    margin-top: -2%;
    position: fixed;
    background-image: linear-gradient(to bottom right, rgb(20, 20, 20) , rgb(35, 35, 35));
    width: 15%;
    color: white;
    font-family: sans-serif;
    height: 110vh;
    font-size: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.54);
}

.navbarbox{
    width: 100%;
    height: 5%;
    padding: 5%;
    text-align: left;
}

.left{
    float: left;
}

a{
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}